# serverless.yml

service: pybay-tweets

plugins:
  - serverless-python-requirements
  - serverless-wsgi

custom:
  wsgi:
    app: api.app
    packRequirements: false
  pythonRequirements:
    dockerizePip: non-linux

provider:
  name: aws
  runtime: python3.6
  stage: dev
  region: us-west-2

functions:
  api:
    handler: wsgi.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'
